#thread_list {
    margin-top: 24px;
}

.plank {
    background-color: #48AEE6;
    border: solid #48AEE6 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 2px;
}
.plank div {
    background-color: white;
    padding: 8px;
}

.plank a {
    font-size: 1.25em;
    text-decoration: none;
}

.offset-top {
    margin-top: 24px;
}

.offset-right {
    margin-right: 4px;
}
