#thread_list {
    margin-top: 24px;
}

.plank {
    border: solid #48AEE6 1px;
    border-left: solid #48AEE6 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    word-wrap: break-word;
}

.plank a {
    font-size: 1.25em;
    text-decoration: none;
}

.offset-top {
    margin-top: 24px;
}

.offset-right {
    margin-right: 4px;
}

.offset-bottom {
    margin-bottom: 4px;
}
